#Entorno virtual de Python
venv/
.venv/
.venv311/
*.pyc
__pycache__/
#Archivos de caché y compilación
pycache/
*.pyc
*.pyd
*.log
*.vscode
#Archivos específicos de Pytest
.pytest_cache/

#Archivos de datos o modelos guardados (si no deben ir al repositorio)
*.joblib
*.h5